/* Main Page */
.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 900px; 
  background-size: cover; 
  background-image: url(./Color_icon_blue.svg.png);
}

.container_h1 {
  display: flex;
  justify-content: center; 
  width: 150px;
  height: 70px;
  margin-top: 80px; 
  color: whitesmoke; 
  background-color: rgba(245, 245, 245, 0.322);
}

.wigits_wrapper {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 80px; 
}


/* Clock */
.clock {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  font-family: 'Alata', sans-serif;
  /* margin-top: 100px; */
  width: 300px;
  height: 200px; 
  border: 3.4px solid paleturquoise;
  background-color: rgba(0, 247, 255, 0.801);
}

.clock_header {
  color: rgb(238, 238, 238);
  margin-left: 5px; 
} 

.clock_data_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 150px; 
  margin: auto 0 30px 0;  
  padding: 10px; 
  background-color: rgba(65, 52, 38, 0.144);
}

.clock_inner_divs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(107, 71, 16);
  font-size: 1.2em; 
}

.clock_titles {
  width: 22%;
  padding: auto; 
  border-radius: 25px;
  background-color: rgba(238, 238, 238, 0.671);
}

.clock_title_spans {
  margin-left: 5px; 
}

.clock_date {
  display: flex;
  justify-content: center;
  width: 55%;
  padding: auto; 
  border-radius: 25px;
  background-color: rgba(238, 238, 238, 0.671);
}

.clock_time {
  display: flex;
  justify-content: flex-end;
  width: 45%;
  padding: auto; 
  border-radius: 25px;
  background-color: rgba(238, 238, 238, 0.671);
}

.clock_time_span {
  margin-right: 8px; 
}


/* Tabs */
.tabs {
  display: flex;
  flex-direction: column;
  font-family: 'Alata', sans-serif;
  margin: 0 0 0 100px;
  width: 300px;
  height: 200px; 
  border: 3.4px solid paleturquoise;
  background-color: rgba(0, 247, 255, 0.801);
}

.tabs_h1 {
  margin: 21.44px 0 10px 5px; 
}

.tabs_header_wrapper {
  display: flex;
  justify-content: center;
  height: 45px; 
  margin: 2px 0 2px 0; 
  padding: 0; 
  border-bottom: 1.5px solid rgba(243, 226, 195, 0.384);
}

.tabs_header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  word-wrap: break-word; 
  cursor: pointer;
  color: whitesmoke; 
  font-size: 1em;
  width: 100%; 
  height: 50px; 
  margin: 0 0 0 0;
  /* padding: 1px 0 1px 15px; */
  border-radius: 15px; 
  border-top: 1.5px solid rgba(243, 226, 195, 0.384);
}

.tabs_header:hover {
  border-radius: 15px; 
  border-top: 3.5px solid rgba(31, 23, 97, 0.384); 
}

.tabs_article_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-bottom: 26px; 
  padding: 8px 15px 0 13px; 
}

.tabs_content {
  width: 80%; 
  padding: 5px; 
  border-radius: 5px;
  background-color: rgba(255, 99, 71, 0.253);
}