.board {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.row {
  display: flex;
}

.hidden {
  display: inline-box; 
  height: 25px;
  width: 25px;
  border-style: outset; 
}

.revealed {
  display: inline-box;
  align-content: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-style: inset; 
}

.bombed {
  display: inline-box;
  align-content: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-style: outset; 
}

.flagged {
  display: inline;
  align-content: center;  
  justify-content: center;
  height: 25px;
  width: 25px; 
  border-style: outset; 
}


/* Modal */
.modal_section {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* border: 1px solid fuchsia; */
  background-color: rgba(6, 6, 6, 0.3);
  /* background: transparent; */
}


.modal_article {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* z-index: 1; */
  height: 300px;
  width: 300px; 
  margin-top: 500px;
  padding: 30px; 
  border-radius: 5px;
  background: white; 
  border: 1px solid rgb(179, 172, 172);
}

/* .modal_hide {
  position: fixed; 
  z-index: 997;
  background-color: gray;
} */